main {
    width: 80%;
    position: relative;
}

aside {
    top: 0;
    width: 20%;
    position: fixed;
    height: 100rem;
    right: 0;
    z-index: 1000;
    background: #0d1b15;
}

.aside-userlist {
    height: 43vh;

}

.message {
    padding: 0.5rem;
}

.message .username {
    font-weight: 400;
    font-size: 0.8rem;
    width: fit-content;
    color: white;
    background: black;
    padding: 0.05rem 0.75rem;
    border-radius: 1rem
}

.text {
    font-size: 0.9rem;
    padding: 0.5rem;
}

.user {
    color: #0bfff4;
    padding: 0.5rem;
}

.user:hover {
    background: rgba(255, 255, 255, 0.1);
}

.settings-menu {
    top: 0;
    width: 20%;
    position: fixed;
    height: 100rem;
    right: 0%;
    z-index: 999;
    background: #0d1b15;
    transition: right 0.4s ease-in-out;
}

.open-settings {
    right: 20%;

}

.settings-section {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.aside-buttons {
    height: 7vh;
    background: #1c382c;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aside-chat {
    height: 43vh;
    background: #5fc7de;
    overflow-y: scroll;

}

.aside-chat-form {
    height: 7vh;
    background: #79c5d6;
    display: flex;
}

.aside-chat-form textarea {
    width: 100%;
}

.game-field {
    height: 100vh;
    width: 100%;
}

.game-field .map {
    height: 100%;
    width: 100%;
}

.grid {
    position: fixed;
    left: 0;
    height: 100%;
    top: 0;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: black solid 5px;
}

.cell {
    border: black solid 0px;
    padding: 0.2rem;
    overflow: hidden;

}

.cell:hover {
    background-color: rgba(0, 0, 0, 0.223);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 74;
    font-size: 27px !important;
    color: white;
    /* text-shadow: rgb(255, 255, 255) 0px 0 5px; */
}

.fishka {
    background: rgba(0, 0, 0, 0.70);
    border-radius: 100px;
    padding: 3px;
}

.with-user {
    box-shadow: inset 0 0 39px #ff00c6;
    border: #ff0000 solid 2px;
}

.dice {
    height: 69px;
    width: 147px;
}

.top-panel {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.638);
    width: 16%;
    height: 10%;
    border: black solid 3px;
    box-sizing: content-box;
}

.bottom-panel {
    position: fixed;
    z-index: 10;
    right: 20%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.638);
    width: 16%;
    height: 20%;
    border: black solid 3px;
    box-sizing: content-box;
    display: flex;
}

.illustration {
    width: 50%;
    height: 100%;
    background-image: url(./images/dice.gif);
    background-size: cover;
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer {
    background: #02000057;
    font-size: xx-large;
    color: #00fd0c;
    width: fit-content;
}

.controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    /* background-color: green; */
    display: flex;
    justify-content: space-evenly;
}

.controls button {
    width: 46%;
    margin: 0.2rem;
}

.right {
    position: relative;
    width: 50%;
    display: flex;
}

.stat {
    background: #111d24;
    color: #00fd0c;
    display: flex;
    padding: 0.5rem;
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: space-between;
}

* {
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.description {
    background: #111d24;
    color: #00fd0c;
    display: flex;
    height: 100%;
    padding: 0.5rem;
}

.empty-hole {
    position: relative;
}

.empty-hole::before {
    width: 70%;
    height: 70%;
    content: '';
    background: #020000;
    display: block;
    border-radius: 100%;
    left: 15%;
    position: absolute;
    top: 11%;
    filter: blur(9px);

    animation: mymove 6s infinite;

}

@keyframes mymove {
    0% {
        opacity: 1
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 1
    }
}


.armor {
    position: relative;
}

.armor::before {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    background-image: url('./images/armor.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 33%;
    top: 11%;
    animation: armor 6s infinite;
}



@keyframes armor {

    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

/*/////////////////////////////////////////////////////////*/





.big-button {
    height: 200px;
    margin: 50px auto;
    max-width: 320px;
    position: relative;
    width: 100%;
}

.big-button .red-button {
    height: 100px;
    left: 0;
    margin: 10px auto;
    position: absolute;
    right: 0;
}

.big-button .red-button:hover {
    cursor: pointer;
}

.big-button .red-button .top,
.big-button .red-button .bottom {
    background-color: #a40000;
    border: 1px solid grey;
    border-radius: 50%;
    height: 50px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transition: 0.4s ease-in;
    width: 200px;
    z-index: 10;
}

.big-button .red-button .top {
    background-color: red;
    bottom: 50px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: cursive;
    color: #350305;
}

.big-button .red-button .bottom {
    bottom: 0;
    z-index: 8;
}

.big-button .red-button .button-height {
    background-color: #a40000;
    border: 1px solid grey;
    border-bottom: none;
    bottom: 20px;
    height: 50px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transition: 0.4s ease-in;
    width: 200px;
    z-index: 9;
}

.big-button .grey-box .top {
    border-bottom: 100px solid #272f43;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 30px;
    width: 221px;
    box-sizing: content-box;
}

.big-button .grey-box .front {
    background-color: #1d2333;
    border: 1px solid #181111;
    height: 70px;
    position: absolute;
    top: 130px;
    width: 320px;
}

.big-button.is-active .red-button .top {
    bottom: 30px;
}

.big-button.is-active .red-button .button-height {
    height: 30px;
}

.button-title {
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
}

.button-title span {
    display: block;
    font-weight: 700;
    margin-top: 30px;
}

.active-step {
    background: rgba(255, 0, 0, 0.671);
    animation-name: activUser;
    animation-duration: 4s;
    animation-iteration-count: infinite;

  }
  
  @keyframes activUser {
    0% {background-color: rgba(255, 0, 0, 0.677);}
    50% {background-color: rgba(185, 19, 119, 0.411);}
    100% {background-color: rgba(255, 0, 0, 0.677);}

  }
