main {
    width: 80%;
    position: relative;
}

aside {
    top: 0;
    width: 20%;
    position: fixed;
    height: 100rem;
    right: 0;
    z-index: 1000;
    background: #0d1b15;
}

.aside-userlist {
    height: 43vh;

}


.user {
    color: #0bfff4;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.user:hover {
    background: rgba(255, 255, 255, 0.1);
}

.message {
    padding: 0.5rem;
}

.message .username {
    font-weight: 400;
    font-size: 0.8rem;
    width: fit-content;
    color: #56d3c3;
    background: black;
    padding: 0.05rem 0.75rem;
    border-radius: 1rem
}

.message .text {
    font-size: 0.9rem;
    padding: 0.5rem;
    font-weight: 100;
}


.settings-menu,
.staff-menu {
    top: 0;
    width: 20%;
    position: fixed;
    height: 100rem;
    right: 0%;
    z-index: 999;
    background: #0d1b15;
    transition: right 0.4s ease-in-out;
}

.open-menu {
    right: 20%;

}

.menu-section {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.aside-buttons {
    height: 7vh;
    background: #1c382c;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aside-chat {
    height: 43vh;
    background: #01333f;
    overflow-y: scroll;
    color: white;

}

.aside-chat-form {
    height: 7vh;
    background: #79c5d6;
    display: flex;
}



.aside-chat-form textarea {
    width: 100%;
    background: #01333f;
    color: white;
    font-weight: 100;
    resize: none;



}

.aside-chat-form input {
    background: #0e471d;
    color: #feffff;
    text-shadow: 0px 0px 3px black;
    font-weight: 400;

}


.game-field {
    height: 100vh;
    width: 100%;

}

.game-field .map {
    height: 100%;
    width: 100%;
}

.grid {
    position: fixed;
    left: 0;
    height: 100%;
    top: 0;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: black solid 5px;
    box-shadow: inset 0 0 300px #000000, inset 0 0 400px #000000, inset 0 0 400px #000000;

}

.cell {
    border: black solid 0px;
    padding: 0.2rem;
    overflow: hidden;

}

.cell:hover {
    background-color: rgba(0, 0, 0, 0.223);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 74;
    font-size: 27px !important;
    color: white;
    /* text-shadow: rgb(255, 255, 255) 0px 0 5px; */
}

.fishka {
    background: rgba(0, 0, 0, 0.70);
    border-radius: 100px;
    padding: 3px;
}

/* .with-user {
    box-shadow: inset 0 0 39px #ff00c6;
    border: #ff0000 solid 2px;
} */

.you {
    position: relative;
}

.you::before {
    width: 95%;
    height: 95%;
    content: '';
    border: dashed 5px #00ff03;
    /* box-shadow: 0px 0px 5px red, -1em 0 .4em olive; */
    /* box-shadow: #03cf69; */
    display: block;
    /* border-radius: 100%; */
    left: 2.5%;
    position: absolute;
    top: 2.5%;
    filter: blur(1px);
    animation: puls-blur 3s infinite;

}

.empty-hole {
    position: relative;
}

.empty-hole::before {
    width: 70%;
    height: 70%;
    content: '';
    background: #020000;
    display: block;
    border-radius: 100%;
    left: 15%;
    position: absolute;
    top: 11%;
    filter: blur(9px);

    animation: puls-opacity 6s infinite;

}


.dice {
    height: 69px;
    width: 147px;
}


.top-panel {
    border-radius: 1rem;
    box-shadow: inset 0 0 50px #000000;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: rgb(7 49 16);
    background-image: url(./images/backDescr.png);
    background-size: 20%;
    width: 16%;
    height: 10%;
    border: black solid 6px;
    box-sizing: content-box;
}

.bottom-panel {
    border-radius: 1rem;
    border: 6px solid black;
    position: fixed;
    z-index: 10;
    right: 20%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.638);
    width: 16%;
    height: 20%;
    box-sizing: content-box;
    display: flex;
}

.illustration {
    width: 50%;
    height: 100%;
    background-image: url(./images/dice.gif);
    background-size: cover;
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    border-radius: 1rem;
    box-shadow: inset 0 0 20px #000;
}

.timer {
    background: #02000057;
    font-size: xx-large;
    color: #00fd0c;
    width: fit-content;
}

.controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    /* background-color: green; */
    display: flex;
    justify-content: space-evenly;
}

.controls button {
    width: 46%;
    margin: 0.2rem;
}

.right {
    position: relative;
    width: 50%;
    display: flex;
}

.stat {
    background: #111d24;
    color: #00fd0c;
    display: flex;
    padding: 0.5rem;
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: space-between;
}

* {
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.description {
    /* background: #111d24; */
    color: #00fd0c;
    display: flex;
    height: 100%;
    padding: 0.5rem;
    width: 100%;
}

@keyframes puls-blur {
    0% {
        filter: blur(0px)
    }

    50% {
        filter: blur(5px)
    }

    100% {
        filter: blur(0px)
    }
}

@keyframes puls-opacity {
    0% {
        opacity: 1
    }

    50% {
        opacity: .5
    }

    100% {
        opacity: 1
    }
}


.armor {
    position: relative;
}

.armor::before {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    background-image: url('./images/armor.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 33%;
    top: 11%;
    animation: armor 6s infinite;
}



@keyframes armor {

    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

/*/////////////////////////////////////////////////////////*/





.big-button {
    height: 200px;
    margin: 50px auto;
    max-width: 320px;
    position: relative;
    width: 100%;
}

.big-button .red-button {
    height: 100px;
    left: 0;
    margin: 10px auto;
    position: absolute;
    right: 0;
}

.big-button .red-button:hover {
    cursor: pointer;
}

.big-button .red-button .top,
.big-button .red-button .bottom {
    background-color: #a40000;
    border: 1px solid grey;
    border-radius: 50%;
    height: 50px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transition: 0.4s ease-in;
    width: 200px;
    z-index: 10;
}

.big-button .red-button .top {
    background-color: red;
    bottom: 50px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: cursive;
    color: #350305;
}

.big-button .red-button .bottom {
    bottom: 0;
    z-index: 8;
}

.big-button .red-button .button-height {
    background-color: #a40000;
    border: 1px solid grey;
    border-bottom: none;
    bottom: 20px;
    height: 50px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transition: 0.4s ease-in;
    width: 200px;
    z-index: 9;
}

.big-button .grey-box .top {
    border-bottom: 100px solid #272f43;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 30px;
    width: 221px;
    box-sizing: content-box;
}

.big-button .grey-box .front {
    background-color: #1d2333;
    border: 1px solid #181111;
    height: 70px;
    position: absolute;
    top: 130px;
    width: 320px;
}

.big-button.is-active .red-button .top {
    bottom: 30px;
}

.big-button.is-active .red-button .button-height {
    height: 30px;
}

.button-title {
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
}

.button-title span {
    display: block;
    font-weight: 700;
    margin-top: 30px;
}

.active-step {
    background: rgba(255, 0, 0, 0.671);
    animation-name: activUser;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes activUser {
    0% {
        background-color: rgba(0, 255, 13, 0.432);
    }

    50% {
        background-color: rgba(19, 185, 107, 0.096);
    }

    100% {
        background-color: rgba(0, 255, 13, 0.432);
    }

}

.stat>div {
    display: inline-block;
}

.dev-panel {
    position: fixed;
    right: 50%;
    top: 0;
    width: 20rem;
    height: 5rem;
    background: rgba(0, 0, 0, 0.592);
    z-index: 8888;
}

#set-position input {
    width: 4rem;
}

.global-message {
    background: rgba(0, 0, 0, 0.553);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.text-container {
    min-height: 5rem;
    min-width: 20rem;
    padding: 1rem;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container .text {
    font-size: 1.5rem;
}

.set-username-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.567);
    z-index: 999;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
}

.start-game-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.567);
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.fighting-screen {
    position: fixed;
    width: 80vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.567);
    z-index: 997;
    display: block;
    display: none;
}

.fighting-screen .container {
    width: 90%;
    height: 90%;
    margin-top: 5%;
    background: #e6b485;
    padding: 0%;
    display: flex;
    flex-direction: column;
}

.fighting-screen .fight-top {
    min-height: 2rem;
    background: #000000;
}

.fighting-screen .fight-middle {
    min-height: 2rem;
    background: #888870;
    height: 100%;
    display: flex;

}

.fighting-screen .fight-bottom {
    min-height: 2rem;
    background: #000000;
}

.fighting-screen .left {
    width: 60%;
    background: #1d2333;

}

.fight-middle>.left,
.fight-middle>.right {
    font-size: xxx-large;
    color: red;
    display: flex;
    flex-direction: column;
}


.fighting-screen .center {
    width: 100%;
    position: relative;
    /* background-image: url(./images/fight-phone.jpg); */
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fighting-screen .center:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url(./images/fight-phone.jpg);
    /* background-repeat: no-repeat; */
    background-position: 50% 0;
    /* background-size: cover; */
}


.fighting-screen .right {
    width: 60%;
    background: #1d2333;
}

.fighting-screen .left img {
    width: 100%;
    height: 37%;

}

.fighting-screen .right img {
    width: 100%;
    height: 37%;
}


.fighting-center-card {
    width: 70%;
    height: 70%;
    background: #00000027;
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.144);
    display: flex;
    flex-direction: column;
    color: white;
}

.fighting-center-card-spectator {
    width: 70%;
    height: 70%;
    background: #00000027;
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.144);
    display: flex;
    flex-direction: column;
    color: white;
    display: none;
}

.fighting-center-card-spectator.spectator {
    display: flex;
}

.fighting-center-card-spectator img {
    width: 100%;
}



.fighting-center-card.spectator {
    display: none;
}


.fighting-center-card .top {
    height: 20%;
    text-align: center;
}

.fighting-center-card .middle {
    height: 60%;
    display: flex;
}

.fighting-center-card .botton {
    height: 20%;
    text-align: center;

}

.fighting-center-card .middle fieldset {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fighter-size {
    height: 50%;
    display: flex;
    align-items: end;
}


.fighter-size .ruler {
    height: 79% !important;
    width: 45% !important;
    /* border: 3px green solid; */
}

.fighter-size .dick-box {
    height: 85%;
    width: 45% !important;
    transition: 1s;
    position: relative;
    bottom: -19rem;
    /* height: 85% !important;
    width: 45% !important; */
    /* border: 3px green solid; */
}

.fighter-size .dick {
    height: 85%;
    width: 100% !important;
    transition: 1s;
    /* height: 85% !important;
    width: 45% !important; */
    /* border: 3px green solid; */
}







.player {
    color: #8f8fd9;
}

.winner {
    width: 3rem;
    margin-right: 0.5rem;

}

#bomb-container {
    flex-direction: column;
    display: flex;
}

.menu-bomb {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.menu-bomb img {
    width: 2rem;
}

.menu-bomb span {
    color: #908f8f;
}

.cell-bomb {
    width: 5rem;
    animation-name: puls-bomb;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


@keyframes puls-bomb {
    0% {
        transform: scale(.7);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(.7);
    }
}

.animation-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 85vw;
    height: 100vh;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.master-message {
    color: #fc04b1;
    background-color: black;
}

.dead {
    opacity: 0.5;
}


/* Для всего скроллбара */
::-webkit-scrollbar {
    width: 12px; /* ширина скроллбара */
  }
  
  /* Для трека (дорожки) скроллбара */
  ::-webkit-scrollbar-track {
    background: #012344; /* цвет фона */
  }
  
  /* Для ручки скроллбара (той части, которую можно перетаскивать) */
  ::-webkit-scrollbar-thumb {
    background: #05248a; /* цвет ручки */
  }
  
  /* Когда наводим курсор на ручку скроллбара */
  ::-webkit-scrollbar-thumb:hover {
    background: #0634cc; /* цвет ручки при наведении */
  }
/* Для трека (дорожки) скроллбара */
html {
    scrollbar-width: thin; /* "auto" или "thin" */
    scrollbar-color: #05248a #012344; /* цвет ручки и цвет трека */
    background: #000000;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent; /* Попробуйте сделать прозрачным */
  }
  textarea {
    resize: none;
  }
  
  /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////BUTTON////////////////////////////////////////////
  */
  .button-group {
    position: relative;
    z-index: 2;
    display: flex;
    width: 5rem;;
    height: 4rem;
    background-color: #000;
    border-radius: 7px;
    padding: 4px;
  }
  .button-group > button {
    cursor: pointer;
    flex: 1;
    background-image: linear-gradient(to top, #242424 0%, #303030 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    transition: 0.2s;
    font-size: 2.5em;
    box-shadow: inset 0 20px 4px -21px rgba(255,255,255,0.4), 0 19px 13px 0 rgba(0,0,0,0.3);
    color: #181818;
    position: relative;
    z-index: 2;
    
  }
  .button-group > button:before {
    content: "";
    display: block;
    width: 0.8em;
    height: 0.8em;
    transition: 0.1s;
    background-image: radial-gradient(circle 30px at center, #ebf7ff 0%, #b3e1ff 47%, #b3e1ff 100%);
    position: absolute;
    filter: blur(15px);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .button-group > button:after {
    content: "";
    display: block;
    height: 70px;
    width: 1px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: 0.2s;
    filter: blur(0px);
    box-shadow: -75px 0 0px 0px rgba(179,225,255,0.3), 74px 0 0px 0px rgba(179,225,255,0.35);
  }
  .button-group > button svg {
    height: 2em;
    width: 2em;
    position: relative;
    display: block;
    fill: #181818;
    filter: drop-shadow(0 1px 1px rgba(255,255,255,0.15)) url("#inset-shadow");
  }


  .button-group > button.active {
    background-image: linear-gradient(to top, #151515 0%, #1d1d1d 100%);
    box-shadow: inset 0 16px 14px -21px transparent, 0 0px 13px 0 rgba(0,0,0,0.3), inset 0 0 7px 2px rgba(0,0,0,0.4);
    z-index: 0;
  }

  .button-group > button.active:before {
    width: 1em;
    height: 1em;
    opacity: 0.8;
  }

  .button-group > button.active:after {
    opacity: 0;
  }


  .button-group button:first-of-type {
    border-radius: 4px 0 0 4px;
  }

  .button-group button:first-of-type:after {
    box-shadow: -85px 0 18px 1px transparent, 83px 0 12px 1px #b3e1ff;
  }

  .button-group button:last-of-type {
    border-radius: 0 4px 4px 0;
  }

  .button-group button:last-of-type {
    border-radius: 0 4px 4px 0;
  }

  .button-group button:last-of-type {
    border-radius: 0 4px 4px 0;
  }

  .button-group button:last-of-type {
    border-radius: 0 4px 4px 0;
  }
  .button-group button:last-of-type:after {
    box-shadow: -85px 0 18px 1px #b3e1ff, 83px 0 12px 1px transparent;
  }

  
  .svg-filters {
    height: 0;
    width: 0;
  } 


  .button-group > button.active svg {
    fill: url("#active");
    filter: drop-shadow(0 1px 1px rgba(255,255,255,0));
  }


  
  


 
 
