.game-field {
    height: 100vh;
    width: 100%;
}

.game-field .map {
    height: 100%;
    width: 100%;
}

.grid {
    position: fixed;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: black solid 5px;
}

.cell {
    border: black solid 0px;
    padding: 0.2rem;
    overflow: hidden;

}

.cell:hover {
    background-color: rgba(0, 0, 0, 0.223);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 74;
    font-size: 35px !important;
    color: white;
    /* text-shadow: rgb(255, 255, 255) 0px 0 5px; */
    background: rgba(0, 0, 0, 0.70);
    border-radius: 100px;
    padding: 3px;
}

.with-user {
    box-shadow: inset 0 0 39px #ff00c6;
    border: #ff0000 solid 2px;
}

.dice {
    height: 69px;
    width: 147px;
}

.top-panel {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.638);
    width: 20%;
    height: 10%;
    border: black solid 3px;
    box-sizing: content-box;
}

.bottom-panel {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.638);
    width: 20%;
    height: 20%;
    border: black solid 3px;
    box-sizing: content-box;
    display: flex;
}

.illustration {
    width: 50%;
    height: 100%;
    background-image: url(./images/dice.gif);
    background-size: cover;
}

.controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
}

.right {
    position: relative;
    width: 50%;
}

.stat {
    background: #111d24;
    color: #00fd0c;
    display: flex;
    padding: 0.5rem;
}

* {
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.description {
    background: #111d24;
    color: #00fd0c;
    display: flex;
    height: 100%;
    padding: 0.5rem;
}